a {
  color: #ffa500;
  text-decoration: none;
}

.details {
  margin: auto;
  padding: 2%;
  background-color: #261b16;
  opacity: .9;
  width: 88%;
  color: #fffcf9;
  min-height: 15px;
  box-shadow: 0 0 8px 4px #ffa500;
  text-align: left;
}

.details img {
  float: left;
  margin: 8px;
}

.details-description {
  max-height: 200px;
  overflow: scroll;
  line-height: 1.2em;
  margin: 8px;
  padding: 4px;
  
}

.address {
  text-align: right;
  font-size: 1.3em;
}

.details-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  line-height: 1.2em;
}

.details-header-right {
  text-align: right;
}

.details-title {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 19px;
  line-height: 1.1em;
}

.details-genre {
  font-size: 1.2em;
  font-style: italic;
}

.details-start-time {
  text-align: left;
}

.details-venue {
  text-align: right;
  font-size: 1.7em;
  margin-bottom: 19px;
  line-height: 1.1em;
}

.event-url {
  font-size: 1.3em;
  color:#ffa500;
  margin-top: 14px;
}



