
.landing-body {
  padding:7%;
  background: center url('../../images/concert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.landing-form .App-header {
  height: 40%;
  padding: 5%;
  color: white;
}

.header-description {
  font-family: 'Open Sans';
  font-size: 1.1em;
  font-weight: 300;
  margin: 3%;
}

.App-title {
  font-family: 'Shadows Into Light';
  font-weight: 600;
  font-size: 4em;
  margin:1%;
  text-shadow: 0 0 0.3em #FF9900;
}

.landing-form label {
  font-family: 'Open Sans';
  font-size: .9em;
}

.landing-form {
  background-color: #261b16;
  opacity:.9;
  padding: 3%;
  font-size: 1.2em;
  width: 60%;
  margin: auto;
  color: #fffcf9;
}

h3 {
  margin: 2%;
  font-family: 'Open Sans';
  font-weight: bold;
}

.landing-form .query-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4% auto 4% auto;
  height: 20%;
}

.landing-form .query-info * {
  height: 3vh;
  margin: 2%;
}