.landing-body {
  padding:5%;
  background: center url('../../images/concert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing-form {
  background-color: #261b16;
  opacity:.8;
  padding: 5%;
  font-size: 1.2em;
  width: 50%;
  margin: auto;
}

.landing-form .query-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4% auto 4% auto;
  height: 20%;
}

.landing-form .query-info * {
  height: 3vh;
  margin: 4%;
}