.landing-form {
  background-color: lightgray;
  padding: 5%;
  font-size: 1.2em;
}

.landing-form .query-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4% auto 4% auto;
  height: 20%;
}

.landing-form .query-info * {
  height: 3vh;
  margin: 4%;
}