.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2%;
  background-color: #261b16;
  opacity: .9;
  color: #fffcf9;
  font-family: 'Open Sans';
}

.body-form-logo {
  font-family: 'Shadows Into Light';
  font-size: 3em;
  text-shadow: 0 0 0.3em #FF9900;
  padding-left: 3%;
  white-space: nowrap;
}

.body-form {
  min-width: 40%;
}

.header .user-select {
  text-align: left;
}

.header .query-info {
  display: flex;
  justify-content: space-evenly;
}

.header .query-info input {
  width: 40%;
  font-size: 1.1em;
  margin-right: 2%;
  height: 100%;
}

.header button {
  width: 20%;
  font-family:'Open Sans';
  font-weight: bold;
}

.header .user-location {
  margin-top: 1%;
}