.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  background-color: #261b16;
  opacity: .9;
  color: #fffcf9;
}

.body-form-logo {
  font-family: 'Shadows Into Light';
  font-size: 3em;
  text-shadow: 0 0 0.3em #FF9900;
  padding-left: 3%;
}

.body-form {
  min-width: 40%;
  margin-bottom:1%;
}

.header .user-select {
  text-align: left;
}

.header .query-info {
  display: flex;
  justify-content: space-around;
  margin-right: 4%;
}

.header .query-info input {
  width: 40%;
  font-size: 1.1em;
  /*margin: 0 2% 0 2%;*/
}