

.main-body {
  background: center url('../../images/bar.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-div {
  display: flex;
}

.event-list {
  height: 60vh;
  overflow: scroll;
}

.selected {
  background-color: #FFCA7D;
}

.event-card {
  border-bottom: 2px solid black;
}