.main-body {
  width: 100%;
  display: block;
  background: center url('../../images/bar.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}
.main-body::before {
  content: '';
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:fixed;
  min-height: 100vh;
  height:100%;
  background-color: #261b16;
}

.map-div {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 2%;
  height: 60vh;
}

.event-list {
  height: 60vh;
  width: 50%;
  overflow: scroll;
}


